<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borqs.account.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="1000"
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <!-- 以下权限为使用AccountLoginService组件所必须的 -->    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/account_ic_launcher"
        android:label="@string/acl_app_name" >
        <activity
            android:name="com.borqs.account.login.ui.AccountMainActivity"
            android:theme="@style/Theme.AccountCommon.Base.Light"
            android:label="@string/acl_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 以下组件为AccountLoginService所使用组件 -->
        <activity android:name="com.borqs.account.login.ui.AccountSettingsActivity"
                  android:theme="@style/Theme.Base.Light.NoTitle"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter android:priority="100">
                <action android:name="com.borqs.account.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.borqs.account.login.ui.AccountRegisterActivity"
                android:label="@string/acl_register_title"
                android:theme="@style/Theme.AccountCommon.Base.Light"
                android:windowSoftInputMode="stateHidden|adjustResize"
                android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.borqs.account.login.ui.AccountLoginActivity"
                  android:label="@string/acl_login_title"
                  android:theme="@style/Theme.AccountCommon.Base.Light"            
                  android:windowSoftInputMode="stateHidden|adjustResize"      
                  android:configChanges="orientation|keyboardHidden"
                  android:exported="true">
        </activity>
        <activity android:name="com.borqs.account.login.ui.AccountResetPwdActivity"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="com.borqs.account.login.ui.AccountDetailActivity"
                  android:label="@string/acl_reset_pwd_title"
                  android:theme="@style/Theme.AccountCommon.Base.Light"
                  android:configChanges="orientation|keyboardHidden"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:exported="true">
        </activity>        
        <activity
            android:name="com.borqs.account.login.ui.InfoDialogActivity"
            android:label="@string/acl_user_detail_title"
            android:theme="@android:style/Theme.Dialog" 
            android:exported="true">
        </activity>
        
        <activity            
                android:label="@string/account_removal_title"
                android:name="com.borqs.account.login.ui.AccountRemoveActivity"
                android:theme="@android:style/Theme.Dialog"
                android:screenOrientation="user">
        </activity>

        <service
            android:name="com.borqs.account.login.service.BMSAuthenticatorService"
            android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- only for fixed bug :can not edit/new borqs contacts when the account and 
            syncadapter is installed separately in system-->   
            <meta-data
                    android:name="android.provider.CONTACTS_STRUCTURE"
                    android:resource="@xml/contact_contacts" />
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/default_account_authenticator" />
        </service>
       
        <service android:name="com.borqs.account.login.service.AccountDataService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.borqs.account.login.service.accountdataservice"/>
            </intent-filter>
        </service>   
             
         <receiver android:name="com.borqs.account.login.service.EnableComponentsReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="com.borqs.account.login.service.enablecomponents"/>
            </intent-filter>
        </receiver>  
              
         <provider android:name="com.borqs.account.login.provider.AccountProviderNative"
                  android:authorities="com.borqs.account_service_your_app_name" />
        
         
         <!-- 以下组件为AccountLoginService HOST ENV所使用组件 -->
         <activity
                android:label="@string/account_config_name"
                android:name="com.borqs.app.config.TestServerSetActivity"
                android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:label="@string/account_config_name"
                android:name="com.borqs.app.config.TestServerUrlPickerActivity"
                android:screenOrientation="user">
        </activity>
    </application>

</manifest>